<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>FastAPI Logs</title>
    <link rel="icon" type="image/x-icon" href="/web/static/images/favicon.ico" />
    <link rel="stylesheet" href="/web/static/css/_navbar.css">
    <link rel="stylesheet" href="/web/static/css/status_pages.css">
</head>
<body>
    {% include 'partials/_navbar.html' %}

    <div id="grafana-iframe-container">
        <iframe id="grafana-dashboard"
                src="http://192.168.10.11:53000/d/fea3x93t76328c/fastapi-observability?orgId=1&from=now-1h&to=now&timezone=browser&var-app_name=fastapi&var-DS_PROMETHEUS=eemifbe5cuq68f&refresh=5s&kiosk">
        </iframe>
    </div>
    <script src="/web/static/js/auth.js"></script>
</body>
</html>