<nav id="main-nav">
  <ul>
    <li><a href="/studio">Studio</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/info">Info</a></li>
    <!-- <li><a href="#" onclick="alert('gRPC Logs 페이지는 개발중입니다.'); return false;">gRPC Logs</a></li> -->
    <li><a href="/status/cpu">CPU dashboard</a></li>  
    <li><a href="/status/gpu">GPU dashboard</a></li>  
  </ul>
  <ul>
    <li><a href="/user_manage">Account</a></li>
    <li id="nav-login-item"><a href="/login">Login</a></li>
    <li id="nav-logout-item"><button id="logoutButton" onclick="handleLogout()">Logout</button></li>
  </ul>
</nav>

<script src="/web/static/js/_navbar.js"></script>