<nav id="main-nav">
  <div class="nav-group-top">
      <a href="/" class="nav-logo">SD Navigator</a>
      <ul>
          <li><a href="/studio"><span class="nav-icon">🎨</span><span>Studio</span></a></li>
          <li><a href="/gallery"><span class="nav-icon">🖼️</span><span>Gallery</span></a></li>
          <li><a href="/info"><span class="nav-icon">ℹ️</span><span>Info</span></a></li>
          <li><a href="/status/cpu"><span class="nav-icon">⚙️</span><span>CPU</span></a></li>
          <li><a href="/status/gpu"><span class="nav-icon">⚡</span><span>GPU</span></a></li>
      </ul>
  </div>

  <div class="nav-group-bottom">
      <ul>
          <li><a href="/user_manage"><span class="nav-icon">👤</span><span>Account</span></a></li>
          <li id="nav-login-item"><a href="/login"><span class="nav-icon">🔑</span><span>Login</span></a></li>
          <li id="nav-logout-item">
              <button id="logoutButton">
                  <span class="nav-icon">🚪</span>
                  <span>Logout</span>
              </button>
          </li>
      </ul>
  </div>
</nav>

<script src="/web/static/js/_navbar.js"></script>